@(implicit request: RequestHeader)

@import helper._

@views.html.formapp.main("ログイン") {

<h3>ログインして</h3>

<form action="/formapp/try_login" method="POST">
    @CSRF.formField
    <input type="text" name="id" placeholder="id">
    <input type="text" name="password" placeholder="password">
    <input type="submit" value="login">
</form>
<h4>アカウントを持っていない場合</h4>
<form action="/formapp/registerAccount" method="POST">
    @CSRF.formField
    <input type="text" name="name" placeholder="name">
    <input type="text" name="id" placeholder="id">
    <input type="text" name="password" placeholder="password">
    <input type="submit" value="登録">
</form>
}


