@(tasks: Seq[models.formapp.Task],task_num :Int,page_num :Int)

@import helper._
@import views.html.formapp.list
@import scala.util.control.Breaks



@entryRow(entry: models.formapp.Task, num :Int) = {
<tr id="@entry.task_id">
    <td><a href="/formapp/task/@entry.task_id">@num</a></td>
    <td class="name">@entry.title</td>
    <td class="gender"><a href="/formapp/task/change_state/@entry.task_id">@if(entry.is_done){完了}else{未完了}</a></td>
    <td class="date">@entry.description</td>
    <td class="date">@entry.createdAt</td>
</tr>
}



@views.html.formapp.main("") {
<div><a href="/formapp/account">アカウント情報</a><div>
<div><a href="/formapp/room/unfinished">未完了タスクのみ表示</a><div>
<div><a href="/formapp/room">全てのタスクを表示</a><div>
<div class="w3-row">
    <div class="w3-half">
        <h3>登録済みタスク</h3>
    </div>
    <div class="w3-right">
        <a href="/formapp/task_register"><span class="w3-button w3-green">新規入力</span></a>
    </div>
</div>
@if(tasks.nonEmpty) {
<table id="formapp-message-list" class="w3-table w3-striped w3-border">
    <tr>
        <th></th>
        <th>タスク名</th>
        <th>状態</th>
        <th>説明</th>
        <th>作成日時</th>
    </tr>

    @{val b = new Breaks
    b.breakable{
    for(i <- 1 to task_num){
        if(tasks.length > i+(page_num-1)*task_num-1){
            entryRow(tasks.seq(i+(page_num-1)*task_num-1),i+(page_num-1)*task_num)
        }else{b.break}
    }}
    }

</table>
} else {
<p>登録されたメッセージはありません</p>
}
<div>
@if(page_num > 1){<a href="/formapp/rooms/@task_num/@{page_num-1}">前のページ</a>}
@if(tasks.length > page_num*task_num){<a href="/formapp/rooms/@task_num/@{page_num+1}">次のページ</a>}
</div>

}

