@(task: models.formapp.Task)(implicit request: RequestHeader)

@import helper._

@views.html.formapp.main("登録済みメッセージ") {

<form action="/formapp/change_task_content/@task.task_id" method="POST">
@CSRF.formField
<table class="w3-table">
    <tr>
        <th>タイトル名</th>
       <td><input type="text" name="title" value="@task.title"></td>
    </tr>
    <tr>
        <th>説明</th>
        <td><textarea name="description">@task.description</textarea></td>
    </tr>
    <tr>
        <th>状態</th>
        <td>@if(task.is_done){完了}else{未完了}</td>
    </tr>
    <tr>
        <th>投稿日時</th>
        <td>@task.createdAt</td>
    </tr>
</table>
<input type="submit" value="変更">
</form>
<div><a href="/formapp/room">戻る</a>   <a href="/formapp/task/delete/@task.task_id">削除</a></div>
}